table,tr,td{
background-color: LightGoldenRodYe ;
font-family: century gothic;
color: white;
border: 1px solid aqua;
padding: 5px;
border-collapse: collapse;
}
.h{
border: 8px groove yellow;
padding: 20px;
}
.posisi{
position: absolute;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
margin-top: auto;
left: 0;
right: 0;
top: 100px;
bottom: 0;
}
body{
background-color: black;
background-repeat: no-repeat;
background-size: 1400px auto;
}